.git
.github
.vscode
.idea

__pycache__
*.pyc
*.pyo

.pytest_cache
.mypy_cache

.venv
venv
env

runs
wandb
mlruns

outputs
logs

data/raw
data/interim

*.pt
*.pth
*.ckpt

*.ipynb_checkpoints

Dockerfile*
docker-compose*